/* General Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f4f8;
}

.app-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }  

  /* Header Section */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 450px;
    height: auto;
  }  

  /* Flashcards Section */
.flashcards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 20px;
  padding: 20px;
}

.flashcards div {
  border: 1px solid #cbd5e1;
  background-color: #e2e8f0;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 1.4;
  font-weight: 500;
  color: #334155;
}

div.selected {
  border: 1px solid #3b82f6;
  background-color: #3b82f6;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 6px 8px rgba(224, 49, 49, 0.2);
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 20px;
  font-weight: 700;
}

/* Hover Effects */
.flashcards div:hover {
    transform: scale(1.05);
    background-color: #d1e3f2;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  }

div.selected:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 10px rgba(59, 130, 246, 0.3);
  background-color: #3b82f6;
}

/* Footer Section */
.footer {
    background-color: #e2e8f0;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #cbd5e1;
    color: #334155;
  }
  
  .footer p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .footer-link {
    color: #3b82f6;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-link:hover {
    color: #1d4ed8;
  }

/* Price */

.price {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font-weight: bold;
    color: #3b82f6;
    text-align: center;
    line-height: 6rem;
}
  
/* Media Queries */

/* Mobile screens */
@media (max-width: 600px) {
    .flashcards {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

/* Medium-sized screens, like desktops */
@media (min-width: 1600px) and (max-width:2400px) {
    .app-container {
      max-width: 1000px;
    }
  
    .flashcards div {
      font-size: 18px;
      padding: 25px;
    }
  }

/* Larger screens, like TVs */
@media (min-width: 2400px) {
    .app-container {
      max-width: 2000px;
    }
  
    .flashcards {
      gap: 30px;
    }
  
    .flashcards div {
      font-size: 20px;
      padding: 30px;
      height: auto;
    }
  
    .header, .footer {
      padding: 30px;
    }
  
    .logo {
      width: 800px;
    }
  }